.wrapper {
    background-color: #F8F8FF;
}

.timer-display {
    margin: auto;
    width: 210px;
    font-size: 1.5em;
    text-align: center;
}

.button-area {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 2em;
    color: #FFFFFF;
}

.start-button {
    background-color: #008000;
}

.stop-button {
    background-color: #B22222;
}

